<% layout('layouts/boilerplate') -%>
<div class="container my-5 pt-5 flex-grow-1" style="max-width: 450px;">
  <%- include('../partials/flash') %>
  <div class="card">
    <div class="card-header text-center">
      <h4 class="card-title">Change Password</h4>
    </div>

    <div class="card-body">

      <form action="/user/changePassword?_method=PATCH" method="POST" class="needs-validation" novalidate>

        <section>
          <label for="oldPassword" class="form-label">Old Password:</label>
          <input type="password" name="oldPassword" id="oldPassword" class="form-control" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a old password.
          </div>
        </section>

        <section>
          <label for="newPassword" class="form-label">New Password:</label>
          <input type="password" name="newPassword" id="newPassword" class="form-control" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a new password.
          </div>
        </section>

        <section>
          <label for="submitPassword" class="form-label">Submit New Password:</label>
          <input type="password" id="submitPassword" class="form-control" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a new password again.
          </div>
        </section>

        <button class="btn btn-primary mt-3">Submit</button>

      </form>
    </div>
  </div>

  <!-- <script>
  const newPassword = document.querySelector('#newPassword');
  const submitPassword = document.querySelector('#submitPassword');

  submitPassword.addEventListener('input', function(input) {
    if (submitPassword.value !== newPassword.value) {
      submitPassword.setCu
    }
  })
</script> -->

</div>