<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YelpCamp</title>

  <link href="/css/home.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body class="text-center text-white">
  <div class="container">
    <nav class="d-flex w-100 p-2 navbar navbar-expand-md fixed-top">
      <div class="container">
        <h3>YelpCamp</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="ms-auto p-2 collapse navbar-collapse justify-content-end" id="navbar-toggle">
          <div class="navbar-nav">
            <a class="<% if (url === "/") { %>white<% } %>" href="/">Home</a>
            <a <% if(isAuthorised) { %> href="/user" <% } else { %> href="/user/login" <% } %>>
              <% if(isAuthorised) { %> Account <% } else { %> Login <% } %>
            </a>
            <a class="<% if (url === "/campgrounds") { %>white<% } %>" href="/campgrounds">Campgrounds</a>
          </div>
        </div>
      </div>
    </nav>



    <main class="d-flex flex-column justify-content-center align-items-center">
      <h1>Welcome to YelpCamp!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <a href="/campgrounds">See Campgrounds</a>
    </main>

    <div class="container">
      <%- include('../partials/footer') %>
    </div>
  </div>
  <script src="/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>